<template name="thanksPuerte">
	<div id="fb-root"></div>
	<div class="transitions-content">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h4 class="center-align title">¡Muchas gracias por cotizar con nosotros!</h4>
					<h5 class="center-align">
						Su cotización ha sido enviada exitosamente al correo <strong>{{email}}</strong>
					</h5>

					<h6 class="center-align">Si no ha recibido un email, asegúrese de revisar la carpeta "Spam"<br>En caso de no recibirlo <a href="/contacto">contáctese</a> con nosotros</h6>
					<hr>
					<p class="center-align share-cta"><span>Promueva nuestra iniciativa sustentable en redes sociales</span><br><br>
						<a href="https://www.facebook.com/dialog/feed?app_id=145634995501895
  							&display=popup&caption=Condominio%20Puertekuya%20-%20Puertecillos%20%2F%20Chorrillos%20%2F%20Matanzas
  							&description=Condominio%20Puertekuya%20se%20basa%20en%20un%20modelo%20sustentable%2C%20donde%20se%20incentiva%20a%20los%20integrantes%20a%20implementar%20sistemas%20de%20energ%C3%ADa%20solar%20residenciales%20y%20pr%C3%A1cticas%20medio%20ambientales.
  							&link=http://cotizadorsolar.cl/puertekuya
  							&picture=http://enef.cl/landing/images/puertekuya-share.png
  							&redirect_uri=https://facebook.com/" target="_blank">
				        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
				    </a>
					</p>
					
				</div>
			</div>
		</div>
	</div>
</template>