<template name="puertekuyaWelcome">
  
  <div class="transitions-content home puerte">
    <div class="container">
      <header class="row">
        <h2 class="center-align">Cotizador de energía solar instantáneo</h2>
        <h5 class="center-align">Nuestro sistema le entregará en menos de cinco minutos una cotización diseñada especialmente para usted</h5>
        <hr>
      </header>
  	  <div class="row home-container">
        <div class="col m6 center">
          <img class="responsive-img" src="/images/logo-puertekuya.png" alt="Logo Condominio Puertekuya">
        </div>
        <div class="col s12 instructions">
          <h4>Instrucciones de uso</h4>
          <div class="collection">
            <h5 class="collection-item"><strong>1)</strong> Llene correctamente todos los aparatos eléctricos con conciencia energética.</h5>
            <h5 class="collection-item"><strong>2)</strong> Evite utilizar luminaria tradicional y reemplácela por luminaria eficiente.</h5>
            <h5 class="collection-item"><strong>3)</strong> Evite utilizar aparatos eléctricos que tengan sustitutos, como por ejemplo cocina a gas vs cocina eléctrica, hervidor tradicional vs hervidor eléctrico, calefacción tradicional vs calefacción eléctrica.</h5>
            <h5 class="collection-item"><strong>4)</strong> Cuide su planeta, no imprima la cotización en caso de que no sea necesario.</h5>
          </div>
          
        </div>
      </div>
      <div class="center">
        <a href="/puertekuya/off-grid/" class="btn waves-effect waves-light btn-large" data-transition-out="slideDownOut" data-transition-in="slideUpIn" type="button">Cotizar</a>
      </div>
      <!--<div id="watermark">
        <p>ENEF-Energías Eficientes / solar@enef.cl / www.enef.cl / +569 8982 0321 / +569 8505 8186 / La Pastora 121 Of. 402, Las Condes.</p>
      </div>-->
    </div>
  </div>
</template>