<template name="thanks">
	<div class="transitions-content">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h4 class="center-align title">¡Muchas gracias por cotizar con nosotros!</h4>
					<h5 class="center-align">
						Su cotización ha sido enviada exitosamente al correo <strong>{{email}}</strong>
					</h5>

					<h6 class="center-align">Si no ha recibido un email, asegúrese de revisar la carpeta "Spam"<br>En caso de no recibirlo <a href="/contacto">contáctese</a> con nosotros</h6>
					<hr>
					<p class="center-align share-cta"><span>Promueva nuestra iniciativa sustentable en redes sociales</span><br><br>
						<a href="https://www.facebook.com/dialog/feed?app_id=145634995501895
  							&display=popup&caption=%C2%A1Cotiza%20en%205%20minutos%20un%20sistema%20de%20energ%C3%ADa%20solar%20para%20tu%20casa%20o%20empresa%21 
  							&description=Nuevo%20cotizador%20autom%C3%A1tico%20de%20energ%C3%ADa%20solar%2C%20%C2%A1Promueve%20un%20futuro%20sustentable%21
  							&link=http://cotizadorsolar.cl
  							&picture=http://enef.cl/landing/images/logo-enef-share.png
  							&redirect_uri=https://facebook.com/" target="_blank">
				        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
				    </a>
					</p>
					
				</div>
			</div>
		</div>
	</div>
</template>