<template name="thanksAc">
	<div class="transitions-content">
		<div class="container thanks-ac">
			<div class="row">
				<div class="col s12">
					<h4 class="center-align title">¡Muchas gracias por cotizar con nosotros!</h4>
					<h5 class="center-align">
						Su cotización ha sido enviada exitosamente al correo <strong>{{email}}</strong>
					</h5>
					<h6 class="center-align">Si no ha recibido un email, asegúrese de revisar la carpeta "Spam"<br>En caso de no recibirlo <a href="/contacto">contáctese</a> con nosotros</h6>
					<hr>
					<p class="center-align share-cta"><span>Promueva nuestra iniciativa sustentable en redes sociales</span><br><br>
						<a href="https://www.facebook.com/dialog/feed?app_id=145634995501895
  							&display=popup&caption=%C2%A1Cotice%20en%20menos%20de%204%20minutos%20un%20aire%20acondicionado%20para%20su%20casa%20y%20empresa%21
  							&description=Nuevo%20cotizador%20autom%C3%A1tico%20de%20climatizaci%C3%B3n.%20%C2%A1Desde%20un%2010%25%20de%20descuento%20en%20todos%20nuestros%20aires%20acondicionados%21
  							&link=http://cotizadorsolar.cl/climatizacion
  							&picture=http://enef.cl/landing/images/logo-enef-share.png
  							&redirect_uri=https://facebook.com/" target="_blank">
				        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
				    </a>
					</p>
				</div>
			</div>
		</div>
	</div>
</template>