<template name="offGridSearch">
	<div id="searcher" class="transitions-content">
		<div class="container">
			<h3 class="center-align form-title">Buscador de cotización personalizada</h3>
			<h5 class="center-align">Ingrese el código que recibió en su email, para acceder a su reporte personalizado.</h5>
			<form class="off-grid-search">
		  	<div class="row">
		  		<div class="col s12 m5 offset-m4 l6 offset-l3">
		  			<div class="input-field">
	            <input id="caseNumber" type="text" name="caseNumber" class="validate">
	            <label for="caseNumber">Número de caso <small>(sin espacios)</small></label>
	          </div>
	          <div class="center-align">
	          	<button class="btn waves-effect waves-light btn-large"  data-transition-out="slideDownOut" data-transition-in="slideUpIn" type="submit">Buscar</button>
	          </div>
		  		</div>
		  	</div>
		  </form>
		  
	  </div>
	</div>
</template>