<template name="residencial">

	<div class="transitions-content residencial">
    <div class="container">
      <header class="row">
        <h2><img src="images/residencial-icon.png" alt="">Residencial</h2>
        <h4 class="center-align">¿Qué tipo de uso está buscando para la energía solar?</h4>
      </header>
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/energia-electrica.png">
            </div>
            <div class="card-content center-align">
              <span class="card-title activator grey-text text-darken-4">Paneles solares para  la energía de su casa</span>
              <div class="card-action center-align">
                <a href="{{pathFor 'electric-home'}}" class="btn waves-effect waves-light" data-transition-out="slideDownOut" data-transition-in="slideUpIn">Elegir</a>
              </div>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Paneles solares para  la energía de su casa <i class="material-icons right">close</i></span>
              <p>Tecnología fotovoltaica para proveer energía eléctrica a su casa, ahorro total o porcentual en gastos de consumo.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/termosolar-en-construccion.png">
            </div>
            <div class="card-content center-align">
              <span class="card-title activator grey-text text-darken-4">Paneles solares para calentar agua sanitaria </span>
              <div class="card-action center-align">
                <a href="{{pathFor 'unavailable'}}" class="btn waves-effect waves-light" data-transition-out="roomDownOut" data-transition-in="roomDownIn">Elegir</a>
              </div>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Paneles solares para calentar agua sanitaria <i class="material-icons right">close</i></span>
              <p>Tecnología Termosolar para calentar el agua que llega hacia el calefón, ahorros de un 50% a 90% en gastos de consumo.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/piscina-en-construccion.png">
            </div>
            <div class="card-content center-align">
              <span class="card-title activator grey-text text-darken-4">Paneles solares para calentar su piscina </span>
              <div class="card-action center-align">
                <a href="{{pathFor 'unavailable'}}" class="btn waves-effect waves-light" data-transition-out="roomDownOut" data-transition-in="roomDownIn">Elegir</a>
              </div>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Paneles solares para calentar su piscina <i class="material-icons right">close</i></span>
              <p>Tecnología Termosolar para temperar su piscina, aumentando a su vez la temporada de uso. Aumente su temperatura hasta 12°C.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="watermark">
        <p>ENEF-Energías Eficientes / solar@enef.cl / www.enef.cl / +569 8982 0321 / +569 8505 8186 / La Pastora 121 Of. 402, Las Condes.</p>
      </div>
    </div>
    
  </div>

</template>