<template name="onGridReport">

  <div class="transitions-content">
    <div class="container">
    	<div class="row">
        <header>
          <h2 class="center-align"><img src="../images/on-grid-icon.png" alt="">Energía Eléctrica On-Grid</h2>
        </header>

        <!-- Modal Structure -->
        <div class="col s12 m6">
          <div id="modal1" class="modal modal-ongrid">
            <div class="modal-content">
              <img class="" src="../images/monto-energia-base.jpg" alt="">
            </div>
            <a href="#!" class=" modal-action modal-close btn btn-large">Ok</a>
            
          </div>
        </div>
        <!-- Modal Structure -->
        <div class="col s12 m6">
          <div id="modal2" class="modal modal-ongrid">
            <div class="modal-content">
              <img class="responsive-img" src="../images/consumo-mensual.jpg" alt="">
            </div>
            <a href="#!" class=" modal-action modal-close btn btn-large">Ok</a>
            
          </div>
        </div>
        <form class="col s12 m10 offset-m1 on-grid-form">
          <div class="row">
            <div class="input-field col m5 s11">
              <input id="acSpend" type="text" name="acSpend" class="validate">
              <label for="acSpend">Monto Energía Base</label>
            </div>
            <div class="col s1">
              <i data-position="left" data-target="modal1" data-tooltip="Click para información" class="tooltipped material-icons modal-trigger">live_help</i>
            </div>
            <div class="input-field col m5 s11">
              <input id="mKwats" type="text" name="mKwats" class="validate">
              <label for="mKwats">Consumo mes (KWh)</label>
            </div>
            <div class="col s1">
              <i data-position="left" data-target="modal2" data-tooltip="Click para información" class="tooltipped material-icons modal-trigger">live_help</i>
            </div>
          </div>
          
          <div class="row">
            <div class="col m5 s11">
              <div class="input-field">
    				    <select class="regiones" name="zone">
    				      <option value="" disabled selected>Selecciona tu región</option>
    				      <option>Región Metropolitana</option>
                  <option>XV Arica y Parinacota</option>
                  <option>I Tarapacá</option>
                  <option>II Antofagasta</option>
                  <option>III Atacama</option>
                  <option>IV Coquimbo</option>
                  <option>V Valparaíso</option>
                  <option>VI O'Higgins</option>
                  <option>VII Maule</option>
                  <option>VIII Biobío</option>
                  <option>IX La Araucanía</option>
                  <option>XIV Los Ríos</option>
                  <option>X Los Lagos</option>
    				      <option>XI Aysén</option>
    				      <option>XII Magallanes y Antártica</option>
    				    </select>
    				  </div>
            </div>
            <div class="col s1">
              <i data-position="bottom" data-tooltip="Necesitamos saber su región para obtener los valores de radiación solar específicos de su zona. Con esto aseguramos una cotización más precisa." class="tooltipped material-icons">live_help</i>
            </div>
            <div class="input-field col m5 s11 saveSlider">
              <p>Ahorro de KWh deseado: <strong>{{slider}}%</strong></p>
              <div id="range1"></div>
            </div>
            <div class="col s1">
              <i data-position="bottom" data-tooltip="En algunos casos un ahorro del 100% de la energía puede implicar inversiones muy altas para el cliente. ¡Aún con pequeños porcentajes estamos aportando a la sustentabilidad del planeta!" class="tooltipped material-icons">live_help</i>
            </div>
          </div>
          <hr>
          <h5 class="form-title center-align">¿Dónde quiere que le enviemos su cotización?</h5>
          <div class="row">
            {{#if selectedRM}}
              <div class="col s11 m4 input-field">
                <input id="name" type="text" name="firstName" class="validate" required>
                <label for="name">Nombre completo</label>
              </div>
              
              <div class="col s11 m4 input-field">
                <input id="phone" type="text" name="phone" class="validate" required>
                <label for="phone">Teléfono</label>
              </div>

              <div class="col s11 m4 input-field">
                <input id="comuna" type="text" name="comuna" class="validate" required>
                <label for="comuna">Comuna</label>
              </div>
            {{else}}
              <div class="col s11 m6 input-field">
                <input id="name" type="text" name="firstName" class="validate" required>
                <label for="name">Nombre completo</label>
              </div>
              
              <div class="col s11 m6 input-field">
                <input id="phone" type="text" name="phone" class="validate" required>
                <label for="phone">Teléfono</label>
              </div>
            {{/if}}
            
          </div>

          <div class="row">
            <div class="col l7 m6 input-field">
              <textarea  id="comment" type="text" name="comment" class="validate materialize-textarea"></textarea>
              <label for="comment">Comentarios adicionales</label>
            </div>

            <div class="col  s12 l5 m6 input-field">
              <input id="email" type="email" name="email" class="validate" required>
              <label for="email">Email donde enviaremos su cotización</label>
            </div>
          </div>
          <div class="row">
           
            <div class="col l7 m6">
              <p class="privacy">Nos tomamos muy en serio su privacidad y nunca compartiremos sus datos</p>
            </div>
            <div class="col l5 m6">
              <a href="{{pathFor 'electric-home'}}" class="hide-on-small-only btn waves-effect waves-light btn-large red darken-3" data-transition-out="roomUpOut" data-transition-in="roomUpIn">Volver</a>
              <button class="hide-on-small-only btn waves-effect waves-light btn-large" data-transition-out="slideDownOut" data-transition-in="slideUpIn" type="submit" name="action">Enviar</button>
            </div>
          </div>
          
          

          <button class="hide-on-med-and-up right btn waves-effect waves-light btn-large" data-transition-out="slideDownOut" data-transition-in="slideUpIn" type="submit" name="action">Enviar</button>
          <a href="{{pathFor 'electric-home'}}" class="hide-on-med-and-up right btn waves-effect waves-light btn-large red darken-3" data-transition-out="roomUpOut" data-transition-in="roomUpIn">Volver</a>
        </form>
      </div>
    </div>
  </div>
</template>